---
export interface Props {
  collection: string;
}

import { getLangFromUrl } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);

const { collection } = Astro.props;
---

<div class="mb-3">
  <ul class="flex">
    <li class="dark:text-white mr-2">
      <a href=`/${lang}` class="" title="Home">
        <span class="sr-only">Home</span>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" style="margin-top: 4px;" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"/>
        </svg>
      </a>
    </li>
    <li class="dark:text-white mr-2">/</li>
    <li class="dark:text-white mr-2">
      <a href=`/${lang}/blog` class="" title="Blog">Blog</a>
    </li>
    <li class="dark:text-white mr-2">/</li>
    <li class="dark:text-white mr-2">
      <a href=`/${lang}/blog/${collection}` class="capitalize mr-2" title={`Collection: ${collection}`}>{collection}</a>
    </li>
  </ul>
</div>

<style>
li, li a {
  font-weight: 300;
}
li a:hover {
  text-decoration: underline;
}
</style>
