---
export interface Props {
  collection: string;
}

import { getLangFromUrl } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);

const { collection } = Astro.props;
---

<div class="mb-3">
  <ul class="flex">
    <li class="dark:text-white hover:opacity-75 mr-2">
      <a href=`/${lang}` class="" title="Home">Home</a>
    </li>
    <li class="dark:text-white mr-2">/</li>
    <li class="dark:text-white hover:opacity-75 mr-2">
      <a href=`/${lang}/blog` class="" title="Blog">Blog</a>
    </li>
    <li class="dark:text-white mr-2">/</li>
    <li class="dark:text-white hover:opacity-75 mr-2">
      <a href=`/${lang}/blog/${collection}` class="capitalize mr-2" title={`Collection: ${collection}`}>{collection}</a>
    </li>
  </ul>
</div>

<style>
li a {
  font-weight: 400;
}
</style>
