---
import { getEntry, getEntryBySlug } from "astro:content";
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import NavigationButton from "./NavigationButton.astro";

interface Props {
  category?: string;
  prev?: string;
  next?: string;
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { category, prev, next } = Astro.props;

const prevArticle = prev ? await getEntry(category, prev) : undefined;
const nextArticle = next ? await getEntry(category, next) : undefined;
---

<aside class="mt-10 flex flex-col flex-wrap gap-3 md:flex-row">
  {
    prev && (
      <NavigationButton href={`/${lang}/blog/${category}/${prev}`} label={t('prev')} title={prevArticle?.data.title} icon prev>
        <span class="prev-next-link">{prevArticle?.data.title}</span>
      </NavigationButton>
    )
  }
  {
    next && (
      <NavigationButton href={`/${lang}/blog/${category}/${next}`} label={t('next')} title={nextArticle?.data.title} icon>
        <span class="prev-next-link">{nextArticle?.data.title}</span>
      </NavigationButton>
    )
  }
</aside>

<style>
.prev-next-link {
  color: var(--primary);
  line-height: 1rem;
}
</style>
