---
export interface Props {
  title: string;
  description: string;
}

import { getLangFromUrl, useTranslations } from '@i18n/utils';

const currentUrl = Astro.url;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const { title, description } = Astro.props;
---

<div>
  <div class="share-box flex justify-around m-3">
    <a href={`https://www.linkedin.com/shareArticle?url=${currentUrl}`} title={`${t('share-on')} LinkedIn`} target="_blank" rel="noopener noreferrer">
      <img src="/social/linkedin.png" alt="LinkedIn Logo" />
    </a>
    <a href={`https://wa.me/?text=${currentUrl}`} data-action='share/whatsapp/share' title={`${t('share-on')} WhatsApp`} target="_blank" rel="noopener noreferrer">
      <img src="/social/whatsapp.png" alt="WhatsApp Logo" />
    </a>
    <a href={`mailto:?subject=${title}&body=${description} ${currentUrl}`} title={`${t('share-by')} mail`} target="_blank" rel="noopener noreferrer">
      <img src="/social/email.png" alt="Gmail Logo" />
    </a>
  </div>
</div>

<style lang="scss">
.share-box {
  a {
    img {
      width: 42px;
      transition: .5s;
      box-shadow: none;
    }
  }
  a:hover, a:focus {
    img {
      transform: scale(1.05);
      transition: .5s;
    }
  }
}
</style>
