---
import { getCollection } from 'astro:content';
import { collectionMetadata, collectionNameMapping } from '@content/config';
import { languages } from '@i18n/ui';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import MainLayout from '@layouts/MainLayout.astro';
import BlogCard from '@components/BlogCard.astro';
import CollectionsList from '@components/CollectionsList.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {

  const pages: any[] = [];

  // Build collection pages
  for await (let c of collectionMetadata) {
    const posts = await getCollection(c.name as any);

    Object.keys(languages).map((l: string) => {
      pages.push({
        params: {
          lang: l,
          collection: c.name
        },
        props: {
          posts: posts
        },
      });
    });
  }

  return pages;
}

const param = Astro.params;
const post = Astro.props;
---

<MainLayout
  title={`Blog ${collectionNameMapping(param.collection)} | Kevin Fiorentino`}
  description={`Blog collection: ${collectionNameMapping(param.collection)}`}
  image='/kevin2025.jpg'
  addWidth={false}
>
  <div class="main-width">
    <a href={`/${lang}/blog`} title={t('go-blog')} class="dark:text-white hover:underline">
      Blog
    </a>
    <h1 class="text-gradient mt-0">
      { collectionNameMapping(param.collection) }
    </h1>
    <hr><br>
  </div>
  <div role="list" class="main-width cards-grid">
    {
      post.posts.map((item: any) => (
        <div>
          <BlogCard
            slug={item.slug}
            collection={item.collection}
            title={param.lang == 'es' ? item.data.title : item.data.englishMetadata.title}
            description={param.lang == 'es' ? item.data.description : item.data.englishMetadata.description}
            image={item.data.image}
            pubDate={item.data.pubDate}
          >
          </BlogCard>
        </div>
      ))
    }
  </div>

  <br><br><br>

  <CollectionsList></CollectionsList>

  <br><br><br>

</MainLayout>
