---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
import BlogCard from '../components/BlogCard.astro';

const solanaPosts = await getCollection('solana');
---

<MainLayout title="Home | Kevin Fiorentino">
  <h1 class="text-gradient">
    Kevin Fiorentino
  </h1>
  <div role="list" class="link-card-grid">
    {
      solanaPosts.map(item => (
        <BlogCard
          slug={item.slug}
          title={item.data.title}
          desc={item.data.desc}
          image={item.data.image.url}
          date={item.data.date}
        >
        </BlogCard>
      ))
    }
  </div>
</MainLayout>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0;
  }
  @media (max-width: 768px) {
    .link-card-grid {
      grid-template-columns: 1fr;
    }
  }
</style>
