---
import { getLangFromUrl } from '@i18n/utils';

const { title, description, image } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const lang = getLangFromUrl(Astro.url);
---

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

	<!-- Primary Meta Tags -->
	<title>{title}</title>
	<meta name="title" content={title} />
	<meta name="description" content={description} />
  <meta name="generator" content={Astro.generator} />
  <meta name="author" content="Kevin Fiorentino" />
	<link rel="canonical" href={canonicalURL} />

	<!-- Global Metadata -->
	<link href="/favicon.ico" type="image/x-icon" rel="icon" />
	<meta name="google" content="notranslate" />

	<!-- Open Graph / Facebook -->
	<meta property="og:locale" content={lang} />
	<meta property="og:type" content="website" />
	<meta property="og:url" content={canonicalURL} />
	<meta property="og:title" content={title} />
	<meta property="og:description" content={description} />
	<meta property="og:image" content={image} />

	<!-- Twitter -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content={title} />
	<meta name="twitter:description" content={description} />
	<meta name="twitter:image" content={image} />
	<meta name="twitter:image:alt" content={title} />
	<meta name="twitter:site" content="@Kevfiorentino" />
	<meta name="twitter:creator" content="@Kevfiorentino" />
</head>
