---
import { getCollection } from 'astro:content';
import { collectionMetadata } from '@content/config';
import { languages } from '@i18n/ui';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import MainLayout from '@layouts/MainLayout.astro';
import BlogCard from '@components/BlogCard.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {

  const pages: any[] = [];
  let allPosts: any[] = [];

  for await (let c of collectionMetadata) {
    const coll = await getCollection(c.name as any);
    allPosts = allPosts.concat(coll);
  }

  allPosts = allPosts.sort((a, b) => {
    if (new Date(a.data.pubDate) < new Date(b.data.pubDate))
      return 1;
    if (new Date(a.data.pubDate) > new Date(b.data.pubDate))
      return -1;
    return 0;
  });

  Object.keys(languages).forEach((l: string) => {
    pages.push({
      params: { lang: l },
      props: {
        posts: allPosts.filter(p => (p.slug.split('/')[0] == l)).slice(0, 6)     // First six elements
      },
    });
  });

  return pages;
}

const post = Astro.props;
---

<MainLayout
  title="Home | Kevin Fiorentino"
  description={`Kevin Fiorentino's personal and professional website`}
  image="/kevin.png"
  addWidth={false}
>
  <section class="main-width grid grid-cols-1 gap-5 lg:grid-cols-3 lg:gap-8">
    <div class="lg:col-span-2">
      <h1 class="text-gradient">
        I'm Kev
      </h1>
      <p class="mb-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda tempora sunt iste quia officia illo obcaecati esse alias, nihil corrupti animi cupiditate adipisci temporibus aliquam quaerat vitae culpa, vel omnis.
      </p>
      <p class="mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus rerum laborum facilis corrupti aliquam praesentium. Voluptate, provident! Esse culpa omnis nesciunt quo vitae excepturi alias reprehenderit, temporibus odio modi doloribus.
      </p>
      <hr>
    </div>
    <div class="order-first md:order-last">
      <div class="polygon-shadow">
        <img src="/kevin.png" class="kev-image m-auto" alt="Kevin Fiorentino" />
      </div>
      <p class="uppercase dark:text-white text-center mt-3">I got amazing power of observation</p>
    </div>
  </section>

  <br><br>

  <section class="bg-techs bg-polygon">
    <div class="techs-main-box main-width">
      <h2 class="text-white text-center mb-4">
        {t('home.tech')}
      </h2>
      <div role="list" class="flex flex-wrap justify-evenly items-center">

        <div class="techs-group m-2 sm:m-3">
          <img src="/tech/javascript.png" alt="Javascript logo" title="Javascript" />
          <img src="/tech/typescript.svg" alt="TypeScript logo" title="TypeScript" />
          <img src="/tech/angular.png" alt="Angular logo" title="Angular" />
          <img src="/tech/react.png" alt="React logo" title="React" />
        </div>

        <div class="techs-group m-2 sm:m-3">
          <img src="/tech/php.png" alt="PHP logo" title="PHP" />
          <img src="/tech/nodejs.png" alt="NodeJS logo" title="NodeJS" />
          <img src="/tech/rust.svg" alt="Rust logo" title="Rust" />
          <img src="/tech/solidity.png" alt="Solidity logo" title="Solidity" />
        </div>

        <div class="techs-group m-2 sm:m-3">
          <img src="/tech/solana.svg" alt="Solana logo" title="Solana Blockchain" />
          <img src="/tech/ethereum.svg" alt="Ethereum logo" title="Ethereum Blockchain" />
        </div>

        <div class="techs-group m-2 sm:m-3">
          <img src="/tech/mongodb.png" alt="MongoDB logo" title="MongoDB" />
          <img src="/tech/mysql.png" alt="MySQL logo" title="MySQL" />
          <img src="/tech/elastic.png" alt="Elasticsearch logo" title="Elasticsearch" />
        </div>

        <div class="techs-group m-2 sm:m-3">
          <img src="/tech/docker.png" alt="Docker logo" title="Docker" />
          <img src="/tech/nginx.png" alt="NGINX logo" title="NGINX" />
        </div>

      </div>
      <div class="text-center mt-5">
        <a href={`/${lang}/work-experience`} title={t('home.tech.btn')} class="btn-know text-white font-bold py-2 px-4">
          <span class="text-lg font-medium">{t('home.tech.btn')}</span>
        </a>
      </div>
    </div>
  </section>

  <br><br>

  <section class="main-width">
    <div>
      <h2 class="text-gradient font-bold mb-3">
        Blog
      </h2>

        <div role="list" class="cards-grid">
          {
            post.posts.map((item: any) => (
              <div class="polygon-shadow-hover">
                <BlogCard
                  slug={item.slug}
                  collection={item.collection}
                  title={item.data.title}
                  description={item.data.description}
                  image={item.data.image}
                  pubDate={item.data.pubDate}
                >
                </BlogCard>
              </div>
            ))
          }
      </div>
    </div>
  </section>

</MainLayout>

<style lang="scss">
.kev-image {
  max-height: 300px;
  clip-path: polygon(15% 10%, 100% 0, 100% 25%, 100% 100%, 0 85%);
}
.bg-techs {
  position: relative;
  background: var(--primary);

  h2 {
    -webkit-text-fill-color: white;
  }
}
.techs-main-box {
  position: relative;
  z-index: 1;

  h2 {
    line-height: 35px;
  }
  .techs-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    min-height: 100px;

    img {
      max-height: 75px;
      max-width: 75px;
      box-shadow: none;
      margin: 10px;
      transform: scale(1);
      transition: .5s;
    }
    img:hover {
      transform: scale(1.1);
      transition: .5s;
    }
  }
  @media (max-width: 600px) {
    .techs-group {
      min-height: 80px;

      img {
        max-height: 60px;
        max-width: 60px;
        margin: 7px;
      }
    }
  }
  .btn-know {
    background-color: var(--alternative);
  }
  .btn-know:hover, .btn-know:focus {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  }
}
</style>
