---
import { getCollection } from 'astro:content';
import { collectionMetadata } from '@content/config';
import { languages } from '@i18n/ui';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import MainLayout from '@layouts/MainLayout.astro';
import BlogCard from '@components/BlogCard.astro';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {

  const pages: any[] = [];
  let allPosts: any[] = [];

  for await (let c of collectionMetadata) {
    const coll = await getCollection(c.name as any);
    allPosts = allPosts.concat(coll);
  }

  allPosts = allPosts.sort((a, b) => {
    if (new Date(a.data.pubDate) < new Date(b.data.pubDate))
      return 1;
    if (new Date(a.data.pubDate) > new Date(b.data.pubDate))
      return -1;
    return 0;
  });

  Object.keys(languages).forEach((l: string) => {
    pages.push({
      params: { lang: l },
      props: {
        posts: allPosts.filter(p => (p.slug.split('/')[0] == l)).slice(0,6)     // First six elements
      },
    });
  });

  return pages;
}

const post = Astro.props;
---

<MainLayout
  title="Home | Kevin Fiorentino"
  description={`Kevin Fiorentino's personal and professional website`}
  image=""
  addWidth={false}
>
  <section class="main-width grid grid-cols-1 gap-5 lg:grid-cols-3 lg:gap-8">
    <div class="lg:col-span-2">
      <h1 class="text-gradient">
        I'm Kev
      </h1>
      <p class="mb-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda tempora sunt iste quia officia illo obcaecati esse alias, nihil corrupti animi cupiditate adipisci temporibus aliquam quaerat vitae culpa, vel omnis.
      </p>
      <p class="mb-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus rerum laborum facilis corrupti aliquam praesentium. Voluptate, provident! Esse culpa omnis nesciunt quo vitae excepturi alias reprehenderit, temporibus odio modi doloribus.
      </p>
      <hr>
      <div class="">

      </div>
    </div>
    <div class="order-first md:order-last">
      <img src="/kevin.png" class="kevin-image rounded-full m-auto" alt="Kevin Fiorentino" />
      <p class="uppercase dark:text-white text-center mt-3">I got amazing power of observation</p>
    </div>
  </section>

  <section class="bg-techs">
    <div class="techs-main-box main-width">
      <h2 class="text-center mb-4">
        My six-year career knowledge carried me through
      </h2>
      <div role="list" class="flex flex-wrap justify-evenly items-center">

        <div class="techs-group m-3">
          <img src="/tech/javascript.png" alt="Javascript logo" title="Javascript" />
          <img src="/tech/typescript.svg" alt="TypeScript logo" title="TypeScript" />
          <img src="/tech/angular.png" alt="Angular logo" title="Angular" />
          <img src="/tech/react.png" alt="React logo" title="React" />
        </div>

        <div class="techs-group m-3">
          <img src="/tech/php.png" alt="PHP logo" title="PHP" />
          <img src="/tech/nodejs.png" alt="NodeJS logo" title="NodeJS" />
          <img src="/tech/rust.svg" alt="Rust logo" title="Rust" />
          <img src="/tech/solidity.png" alt="Solidity logo" title="Solidity" />
        </div>

        <div class="techs-group m-3">
          <img src="/tech/solana.svg" alt="Solana logo" title="Solana Blockchain" />
          <img src="/tech/ethereum.svg" alt="Ethereum logo" title="Ethereum Blockchain" />
        </div>

        <div class="techs-group m-3">
          <img src="/tech/mongodb.png" alt="MongoDB logo" title="MongoDB" />
          <img src="/tech/mysql.png" alt="MySQL logo" title="MySQL" />
          <img src="/tech/elastic.png" alt="Elasticsearch logo" title="Elasticsearch" />
        </div>

        <div class="techs-group m-3">
          <img src="/tech/docker.png" alt="Docker logo" title="Docker" />
          <img src="/tech/nginx.png" alt="NGINX logo" title="NGINX" />
        </div>

      </div>
      <div class="text-center mt-5">
        <a href={`/${lang}/work-experience`} title="Know my work experience" class="btn-know text-white font-bold py-2 px-4 rounded">
          <span class="text-lg font-medium">Know my work experience </span>
        </a>
      </div>
    </div>
  </section>

  <section class="main-width">
    <div>
      <h2 class="text-gradient font-bold">
        Blog
      </h2>
      <div role="list" class="cards-grid">
        {
          post.posts.map((item: any) => (
            <BlogCard
              slug={item.slug}
              collection={item.collection}
              title={item.data.title}
              description={item.data.description}
              image={item.data.image}
              pubDate={item.data.pubDate}
            >
            </BlogCard>
          ))
        }
      </div>
    </div>
  </section>

</MainLayout>

<style lang="scss">
.kevin-image {
  max-height: 300px;
}
.bg-techs {
  background-color: var(--alternative);

  h2 {
    color: var(--white);
  }
}
.techs-main-box {
  h2 {
    line-height: 35px;
  }
  .techs-group {
    display: flex;
    align-items: center;
    background: rgba(255,255,255,0.25);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.18);
    min-height: 100px;

    img {
      max-height: 75px;
      max-width: 75px;
      box-shadow: none;
      margin: 10px;
      transform: scale(1);
      transition: .5s;
    }
    img:hover {
      transform: scale(1.1);
      transition: .5s;
    }
  }
  .btn-know {
    background-color: var(--accent);
  }
}
</style>
