---
import MainLayout from '@layouts/MainLayout.astro';
import { languages } from '@i18n/ui';
import { getLangFromUrl, useTranslations } from '@i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  const pages: any[] = [];

  Object.keys(languages).forEach((l: string) => {
    pages.push({
      params: { lang: l },
      props: { },
    });
  });

  return pages;
}

let months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
if (lang == 'es') {
  months = ['Ene','Feb','Mar','Abr','May','Jun','Jul','Ago','Sep','Oct','Nov','Dic'];
}

---

<MainLayout
  title={`${t('projects')} | Kevin Fiorentino`}
  description={t('projects.description')}
  image="/kevin.webp"
  addWidth={false}
>
  <section class="experience-page relative">

    <div class="main-width">
      <h1 class="text-gradient relative z-10 mt-0">
        {t('projects')}
      </h1>
      <h2 class="mb-3 sm:mb-0">
        {t('projects.experience')}
      </h2>
      <hr class="mt-2 mb-0">
    </div>

    <br><br>

    <div class="experience-box bg-polygon relative">
      <div class="main-width relative pt-0 pb-0 z-10">

        <div class="block sm:flex">
          <a href="https://www.astrea.com.ar/" target="_blank" title="Editorial Astrea" class="experience-link text-center mt-2 mb-2 mr-4">
            <img src="/projects/astrea.png" alt="Astrea logo" />
            <small>Editorial Astrea</small>
          </a>
          <div>
            <h2>Software Manager</h2>
            <small><i>{months[4]} 2021 - {t('present')}</i></small>
            <p>
              {t('astrea.text1')} <a href="https://astreavirtual.com/" target="_blank" title="Astrea Virtual">{t('astrea.text2')}</a> <br>
              {t('astrea.text3')}
            </p>
            <span><strong>Stack:</strong> Angular · NodeJS · Docker · Firebase · IBM Cloud · MongoDB · Elasticsearch</span>
            <div class="mt-3">
              <h3>{t('astrea.title')}</h3>
              <small><i>{months[3]} 2020 - {months[4]} 2021</i></small>
              <p>
                {t('astrea.text4')}
              </p>
              <span><strong>Stack:</strong> Angular · NodeJS · Artificial Intelligence (AI) · IBM Watson · Heroku · Python</span>
            </div>
          </div>
        </div>

      </div>
    </div>

    <br><br><br><br>

    <div class="experience-box bg-polygon relative">
      <div class="main-width relative pt-0 pb-0 z-10">

        <div class="block sm:flex">
          <a href="https://platzi.com/" target="_blank" title="Platzi" class="experience-link text-center mt-2 mb-2 mr-4">
            <img src="/projects/platzi.png" alt="Platzi logo" />
            <small>Platzi</small>
          </a>
          <div>
            <h2>{t('platzi.title')}</h2>
            <small><i>{months[2]} 2022 - {months[6]} 2023</i></small>
            <p>
              {t('platzi.text1')} <br>
              {t('platzi.text2')}
            </p>
            <span><strong>Skills:</strong> Copywriting · Communication · SEO</span>
          </div>
        </div>

      </div>
    </div>

    <br><br><br><br>

    <div class="experience-box bg-polygon relative">
      <div class="main-width relative pt-0 pb-0 z-10">

        <div class="block sm:flex">
          <a href="https://alquilando.com/ar" target="_blank" title="Alquilando" class="experience-link text-center mt-2 mb-2 mr-4">
            <img src="/projects/alquilando.png" alt="Alquilando logo" />
            <small>Alquilando</small>
          </a>
          <div>
            <h2>Javascript Full Stack Developer</h2>
            <small><i>{months[11]} 2020 - {months[5]} 2022</i></small>
            <p>
              {t('alquilando.text1')}
            </p>
            <span><strong>Stack:</strong> Angular · TypeScript · NodeJS · Express.js · Docker · MongoDB</span>
          </div>
        </div>

      </div>
    </div>

    <br><br><br><br>

    <div class="experience-box bg-polygon relative">
      <div class="main-width relative pt-0 pb-0 z-10">

        <div class="block sm:flex">
          <a href="https://buenosaires.gob.ar" target="_blank" title="Gobierno Ciudad de Buenos Aires" class="experience-link text-center mt-2 mb-2 mr-4" style="line-height: 20px;">
            <img src="/projects/buenosaires.png" alt="BA logo" />
            <small>{t('turismo.name')} <br> Buenos Aires</small>
          </a>
          <div>
            <h2>PHP Full Stack Developer</h2>
            <small><i>{months[8]} 2018 - {months[11]} 2020</i></small>
            <p>
              {t('turismo.text1')} <a href="https://turismo.buenosaires.gob.ar/" target="_blank" title="Turismo Buenos Aires">{t('turismo.text2')}</a>
            </p>
            <span><strong>Stack:</strong> MySQL · jQuery · Bootstrap · PHP · Drupal</span>
            <br>
            <div class="mt-3">
              <h3>PHP Developer</h3>
              <small><i>{months[6]} 2017 - {months[11]} 2017</i></small>
              <p>
                {t('turismo.text3')}
              </p>
              <span><strong>Stack:</strong> JavaScript · PostgreSQL · PHP</span>
            </div>
          </div>
        </div>

      </div>
    </div>

  </section>

  <br><br>

</MainLayout>

<style lang="scss">
.experience-page {
  .experience-box {
    background: var(--primary);

    img {
      max-width: 100px;
      box-shadow: 0 3px 6px var(--shadow);
      clip-path: polygon(2% 2%, 100% -2%, 98% 100%, 100% 100%, 0 98%);
      transition: .5s;
    }
    h2 {
      -webkit-text-fill-color: var(--white);
      line-height: 40px;
    }
    h3 {
      -webkit-text-fill-color: var(--white);
    }
    p {
      line-height: 20px;
      font-weight: 400;
      margin-bottom: 5px;
    }
    p, small, span {
      color: var(--white);
    }
    span {
      font-weight: 300;
    }
    a {
      color: var(--alternative);
    }
    a:hover, a:focus {
      text-decoration: underline;

      img {
        transition: .5s;
        transform: scale(1.05);
      }
    }
    .experience-link:hover, .experience-link:focus {
      color: var(--white);
    }
  }
  .experience-box:nth-child(odd) {
    background: var(--accent);
  }
  .bg-polygon:nth-child(odd)::after, .bg-polygon:nth-child(odd)::before {
    background: var(--accent);
  }
}
</style>
