---
import { getCollection } from 'astro:content';
import { collectionMetadata } from '@content/config';
import MainLayout from '@layouts/MainLayout.astro';
import Aside from '@components/articles/Aside.astro';
import Breadcrumbs from '@components/articles/Breadcrumbs.astro';
import DisplayTagsDate from '@components/articles/DisplayTagsDate.astro';

import '@styles/article.scss';

export async function getStaticPaths() {

  const pages: any[] = [];

  // Build pages of each content
  for await (let c of collectionMetadata) {
    const coll = await getCollection(c.name as any);
    coll.map((post) => {
      pages.push({
        params: {
          lang: post.slug.split('/')[0],
          category: c.name,
          slug: post.slug.slice(3),
        },
        props: {
          category: c.name,
          post: post,
        },
      });
    });
  }

  return pages;
}

const param = Astro.params;
const post = Astro.props.post;

const { collection } = post;
const { title, description, image, tags, pubDate, relatedPosts } = post.data;
const { Content } = await post.render();
---

<MainLayout
  title={`${title} | Kevin Fiorentino`}
  description={`${description}`}
  image={image}
  addWidth={true}
>
  <section class="grid grid-cols-3 gap-5">

    <section class="col-span-3 sm:col-span-2">
      <section class="header-article-content">
        <Breadcrumbs
          collection={collection}
        ></Breadcrumbs>
        <DisplayTagsDate
          tags={tags}
          pubDate={pubDate}
        ></DisplayTagsDate>
      </section>
      <article class="main-article-content" >
        <Content />
      </article>
    </section>

    <section class="main-aside-content col-span-3 sm:col-span-1">
      <Aside
        relatedPosts={relatedPosts}
      ></Aside>
    </section>

  </section>
</MainLayout>
