---
import { getCollection } from 'astro:content';
import { collectionMetadata } from '@content/config';
import { languages } from '@i18n/ui';
import MainLayout from '@layouts/MainLayout.astro';
import BlogCard from '@components/BlogCard.astro';

export async function getStaticPaths() {

  const pages: any[] = [];

  // Build category pages
  for await (let c of collectionMetadata) {
    const posts = await getCollection(c.name as any);

    Object.keys(languages).map((l: string) => {
      pages.push({
        params: {
          lang: l,
          category: c.name
        },
        props: {
          category: c.name,
          posts: posts.filter(p => (p.slug.split('/')[0] == l))
        },
      });
    });
  }

  return pages;
}

const param = Astro.params;
const post = Astro.props;
---

<MainLayout
  title={`Blog ${param.category} | Kevin Fiorentino`}
  description={`Kevin Fiorentino's blog about ${post.category}`}
  image={``}
  addWidth={true}
>
  <div>
    <p class="dark:text-white">Blog</p>
    <h1 class="text-gradient capitalize">
      {param.category}
    </h1>
  </div>
  <div role="list" class="cards-grid">
    {
      post.posts.map((item: any) => (
        <BlogCard
          slug={item.slug}
          collection={item.collection}
          title={item.data.title}
          description={item.data.description}
          image={item.data.image}
          pubDate={item.data.pubDate}
        >
        </BlogCard>
      ))
    }
  </div>
</MainLayout>
