---
import { languages } from '@i18n/ui';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { getCollection } from 'astro:content';
import { CollectionMetadata, collectionMetadata } from '@content/config';
import MainLayout from '@layouts/MainLayout.astro';

export async function getStaticPaths() {
  const pages: any[] = [];

  Object.keys(languages).map((l: string) => {
    pages.push({
      params: { lang: l },
      props: {
        collections: collectionMetadata
      },
    });
  });

  return pages;
}

const lang = getLangFromUrl(Astro.url);

const { collections } = Astro.props;
---

<MainLayout
  title={`Blog | Kevin Fiorentino`}
  description={`Kevin Fiorentino's personal blog`}
  image={``}
  addWidth={true}
>
  <h1 class="text-gradient">
    Blog
  </h1>
  <section>
    <ul>
      {
        collections.map((c: CollectionMetadata) => (
          <li>
            <a href={`/${lang}/blog/${c.name}`} class="dark:text-white" title={`Blog ${c.name}`}>
              {c.name}
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</MainLayout>

<style>

</style>
