---
import { languages } from '@i18n/ui';
import { getLangFromUrl, useTranslations } from '@i18n/utils';
import { getCollection } from 'astro:content';
import { CollectionMetadata, collectionMetadata } from '@content/config';
import MainLayout from '@layouts/MainLayout.astro';
import BlogCard from '@components/BlogCard.astro';

export async function getStaticPaths() {
  const pages: any[] = [];

  let allPosts: any[] = [];

  for await (let c of collectionMetadata) {
    const coll = await getCollection(c.name as any);
    allPosts = allPosts.concat(coll);
  }

  allPosts = allPosts.sort((a, b) => {
    if (new Date(a.data.pubDate) < new Date(b.data.pubDate))
      return 1;
    if (new Date(a.data.pubDate) > new Date(b.data.pubDate))
      return -1;
    return 0;
  });

  Object.keys(languages).map((l: string) => {
    pages.push({
      params: { lang: l },
      props: {
        recents: allPosts.filter(p => (p.slug.split('/')[0] == l)).slice(0, 6)  ,   // First six elements
        collections: collectionMetadata,
      },
    });
  });

  return pages;
}

const lang = getLangFromUrl(Astro.url);

const { recents, collections } = Astro.props;
---

<MainLayout
  title={`Blog | Kevin Fiorentino`}
  description={`Kevin Fiorentino's personal blog`}
  image="/kevin.png"
  addWidth={false}
>
  <section class="main-width">
    <h1 class="text-gradient mb-3">
      Blog
    </h1>

    <hr class="mb-0">
    <h2>
      Latest posts
    </h2>
    <br><br>
    <div role="list" class="cards-grid">
      {
        recents.map((item: any) => (
          <div class="polygon-shadow-hover">
            <BlogCard
              slug={item.slug}
              collection={item.collection}
              title={item.data.title}
              description={item.data.description}
              image={item.data.image}
              pubDate={item.data.pubDate}
            >
            </BlogCard>
          </div>
        ))
      }
    </div>

  </section>

  <br><br><br><br>

  <section class="categories bg-polygon relative">
    <div class="relative main-width z-10">
      <h2>
        All categories
      </h2>
      <ul class="badges" role="list">
        {
          collections.map((c: CollectionMetadata) => (
            <li class="badge-box" role="listitem">
              <a href={`/${lang}/blog/${c.name}`} class="badge capitalize" title={`Blog ${c.name}`} >
                {c.name}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </section>

  <br><br><br><br>

</MainLayout>

<style lang="scss">
.categories {
  h2 {
    -webkit-text-fill-color: white;
  }
}
</style>
